<footer class="footer-distributed">

    <div class="footer-left">

        <a href="#">
            <img src="/oasalogo.png" alt="" width="130" height="130">
        </a>

        <p class="footer-links">
            <a href="#">Αρχική</a>
            ·
            <a href="#">Ιστορία</a>
            ·
            <a href="#">Προκυρήξεις</a>
            ·
            <a href="#">Επικοινωνία</a>
            ·
            <a href="#">Βοήθεια</a>
        </p>

        <p class="footer-company-name">ΟΑΣΑ Α.Ε. © 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Μετσόβου 15,</span> Αθήνα 10682</p>
        </div>

        <div>
            <i class="fas fa-phone"></i>
            <p>+30 210 8200 999</p>
        </div>

        <div>
            <i class="fas fa-envelope"></i>
            <p><a href="mailto:oasa@oasa.gr">oasa@oasa.gr</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Λίγα λόγια για την Εταιρία μας.</span>
            Σκοπός του Ο.Α.Σ.Α. είναι ο στρατηγικός και επιχειρησιακός σχεδιασμός, ο συντονισμός και ο έλεγχος του
            συγκοινωνιακού έργου που εκτελείται
            από τα μέσα (επίγεια και υπόγεια) μαζικής μεταφοράς στην περιφέρεια Αττικής
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/OASA.GR" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/OASA.GR/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/athenspublictransportoasa" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UC0XdkZnOHhRLc3NE9tm4NUQ" target="_blank"><i
                    class="fab fa-youtube"></i></a>

        </div>

    </div>

</footer>