<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/alerts.ejs %>

    <section class="search-banner text-white py-3  form-background" id="search-banner">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card background-color-form">
                        <div class="card-body">
                            <h1>Δρομολόγια</h1>
                            <% routes.forEach((route) => { %>
                            <p>
                                <a href="/routes/<%= route.route_name %>">
                                    <%= route.route_name %>, <%= route.start_point %>, <%= route.end_point %>
                                </a>
                            </p>

                            <% }) %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <% include ../../partials/footer.ejs %>

</body>

</html>