<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/alerts.ejs %>
    <section class="search-banner text-white py-3  form-background" id="search-banner">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card background-color-form">
                        <div class="card-body">
                            <h1>Δρομολόγια αεροδρομίου</h1>
                            <p>
                                <a href="/routes/X95">
                                    X95, ΣΥΝΤΑΓΜΑ, ΚΤΙΡΙΟ ΑΝΑΧΩΡΗΣΕΩΝ
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <h1>Δρομολόγια αεροδρομίου</h1>
    <p>
        <a href="/routes/X95 %>">
            X95, ΣΥΝΤΑΓΜΑ, ΚΤΙΡΙΟ ΑΝΑΧΩΡΗΣΕΩΝ
        </a>
    </p>

    <% include ../../partials/footer.ejs %>

</body>

</html>