<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/alerts.ejs %>


    <h1>Δρομολόγια αεροδρομίου</h1>
    <p>
        <a href="/routes/Χ95 %>">
            X95, ΣΥΝΤΑΓΜΑ, ΚΤΙΡΙΟ ΑΝΑΧΩΡΗΣΕΩΝ
        </a>
    </p>

    <% include ../../partials/footer.ejs %>

</body>

</html>