<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/alerts.ejs %>
    <h1 style="text-align: center"><%= route.rname %>, <%= route.startpoint %> - <%= route.endpoint %></h1>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-6 outline">
                <h3>
                    Χάρτης
                </h3>
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe class="embed-responsive-item" src="<%= route.map %>" width="600" height="450"
                        frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class=" col-md-6 outline">
                <h3>
                    Στάσεις Δρομολογείου
                </h3>

                <ul>
          
                    <li>Νεκροταφείο Ζωγράφου</li>
                    <li>..</li>
                    <li>..</li>
                    <li>Ευαγγελισμός</li>
                    <li>..</li>
                    <li>Σύνταγμα</li>
                    <li>..</li>
                    <li>..</li>
                    <li>Γαλάτσι</li>
                </ul>
            </div>
        </div>
    </div>

    <% include ../../partials/footer.ejs %>

</body>

</html>