<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>

    <h1><%= route.route_name %>, <%= route.start_point %>, <%= route.end_point %></h1>
    <a href="/routes" class="btn btn-lg btn-success">View All Routes</a>


</body>

</html>