<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <h1>Welcome to OASA</h1>
  <a href="/routes" class="btn btn-lg btn-success">View All Routes</a>
  <a href="/register" class="btn btn-lg">Sign up</a>
  <a href="/login" class="btn btn-lg">Log in</a>
  

</body>

</html>