<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- <% include ../partials/nav.ejs %> -->

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="col-md-12 bg-info">
          <div class="row">
            <div class="col-md-4 outline">
              <!-- Plan route -->
              col
            </div>
            <div class="col-md-4 outline">
              <!-- Find route -->
              col
            </div>
            <div class="col-md-4 outline">
              <!-- Find stop -->
              col
            </div>
          </div>
          <!-- 3 icons -->
          <div class="row">
            <div class="col-4 outline">col</div>
            <div class="col-4 outline">col</div>
            <div class="col-4 outline">col</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12 bg-warning">
          <!-- col-4 -->
          <div class="col-12 bg-success"> news</div>
          <div class="col-12 bg-secondary"> gen news</div>
        </div>
      </div>
    </div>
  </div>


  <!-- <h1>Welcome to OASA</h1>
  <a href="/routes" class="btn btn-lg btn-success">View All Routes</a> -->
  <!-- <% include ../partials/footer.ejs %> -->
</body>

</html>