<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <% include ../partials/alerts.ejs %>

    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Στάσεις με προεξοχές</h1>

        </div>
    </div>

    <% include ../partials/footer.ejs %>


</body>

</html>

