<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="row">
    <div style="width: 30%; margin: 25px auto;">
      <h1 style="text-align: center">Εγγραφή</h1>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="input_first_name">Όνομα</label>
          <input type="text" class="form-control" id="input_first_name" name="first_name" placeholder="Όνομα" required>
        </div>
        <div class="form-group">
          <label for="input_last_name">Επίθετο</label>
          <input type="text" class="form-control" id="input_last_name" name="last_lame" placeholder="Επίθετο" required>
        </div>
        <div class="form-group">
          <label for="input_telephone">Τηλέφωνο</label>
          <input type="text" class="form-control" minlength="10" maxlength="10" id="input_telephone" name="telephone" placeholder="Τηλέφωνο" required>
        </div>
        <div class="form-group">
          <label for="input_afm">Α.Φ.Μ.</label>
          <input type="text" class="form-control" minlength="9" maxlength="9" id="input_afm" name="afm" placeholder="Α.Φ.Μ." required>
        </div>
        <div class="form-group">
          <label for="input_email">Email</label>
          <input type="email" class="form-control" id="input_email" name="email" placeholder="john@doe.com" required>
        </div>
        <div class="form-group">
          <label for="input_email">Κωδικός πρόσβασης</label>
          <input type="password" class="form-control" id="input_email" name="password" placeholder="Κωδικός πρόσβασης" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Εγγραφή!</button>
      </form>
      <a href="/">Αρχική</a>
    </div>
  </div>

  <% include ../partials/footer.ejs %>


</body>

</html>